ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.card-content-wrapper {
  display: flex;
  justify-content: space-between;  /* Asegura que las dos columnas estén separadas */
  align-items: center;             /* Centra los elementos verticalmente */
}

.text-column {
  flex: 1;                         /* La columna de texto ocupa el 50% de la tarjeta */
  padding-right: 15px;              /* Espacio entre el texto y la imagen */
}

.image-column {
  flex: 0 0 auto;                   /* La columna de imagen tiene un tamaño fijo */
}

.movie-poster {
  max-width: 100px;   /* Ajusta el tamaño máximo de la imagen */
  max-height: 100px;  /* Ajusta la altura máxima */
  object-fit: cover;  /* Evita distorsionar la imagen */
}
