


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movies</ion-title>

    <ion-buttons slot="end">
      <ion-badge>{{ movies?.length }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let movie of movies">
    <div class="card-content-wrapper">
      <!-- Columna de texto -->
      <div class="text-column">
        <ion-card-header>
          <ion-card-title>{{ movie.Title }}</ion-card-title>
          <ion-card-subtitle>{{ movie.Director }}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          {{ movie.Plot }}
        </ion-card-content>
      </div>
  
      <!-- Columna de imagen -->
      <div class="image-column">
        <ion-img [src]="movie.Poster" class="movie-poster"></ion-img>
      </div>
    </div>
  </ion-card>
  
  



  <ion-item *ngIf="!movies || movies.length === 0">
    <ion-label>No hay películas disponibles.</ion-label>
  </ion-item>
</ion-content>
